<div class="container">
  <div class="page-header">
    <h1>About</h1>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec maximus nibh, ac lobortis nisl. Mauris lorem nunc, egestas ac ipsum et, auctor lacinia enim. Sed pulvinar auctor neque, ac mollis metus interdum eget. Donec fringilla finibus metus, id aliquet purus accumsan sit amet. Aliquam ullamcorper pharetra leo nec viverra. Aliquam tincidunt maximus lacus, id ornare neque sollicitudin et. Aliquam lectus mi, aliquam ut pretium id, faucibus non enim.</p>
</div>
