<div class="jumbotron">
  <div class="container center">
    <h1>Welcome to NoobBlog</h1>
    <p>Rails Blog<p>
      <%= link_to 'Sign Up', signup_path, :class => 'btn btn-success btn-lg' %>
    </p>
  </div>
</div>
<div class="container">
  Body
</div>
