<div class="jumbotron">
  <div class="container center">
    <h1>Welcome to NoobBlog</h1>
    <p>Rails Blog<p>
      <%= link_to 'Sign Up', signup_path, :class => 'btn btn-success btn-lg' %>
    </p>
  </div>
</div>
<div class="container">
  <div class="col-md-6">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec maximus nibh, ac lobortis nisl. Mauris lorem nunc, egestas ac ipsum et, auctor lacinia enim. Sed pulvinar auctor neque, ac mollis metus interdum eget. Donec fringilla finibus metus, id aliquet purus accumsan sit amet. Aliquam ullamcorper pharetra leo nec viverra. Aliquam tincidunt maximus lacus, id ornare neque sollicitudin et. Aliquam lectus mi, aliquam ut pretium id, faucibus non enim.</p>
  </div>
  <div class="col-md-6">
    <p>Fusce at ligula massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur a leo tempus, sagittis odio sit amet, auctor leo. Mauris eget varius neque. Nulla nec augue tempus, tempor purus vel, blandit lectus. Cras ultricies condimentum orci, quis fringilla arcu viverra vel. Aliquam eleifend congue bibendum.</p>
  </div>
  <div class="col-md-12">
    <p>Proin finibus quis ex vel varius. In ut sem blandit justo varius auctor. Cras venenatis cursus mattis. Praesent eget justo purus. Maecenas elementum dolor ligula, in convallis metus ultrices vel. Donec aliquam efficitur massa at maximus. Ut eget hendrerit ante, sodales lacinia elit. Integer at leo est. Phasellus posuere at purus at convallis. Sed feugiat lacus volutpat sapien dapibus fringilla. Nullam congue eget massa varius luctus. Maecenas dignissim nibh eget sapien ornare, et finibus velit iaculis.</p>
  </div>
</div>
