<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website.<span class="highlighted" style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 0);"><span class="highlighted" style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 0);"> It</span></span> includes a large callout called a jumbotron and three supporting pieces of content. Use<span class="highlighted" style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 0);"><span class="highlighted" style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 0);"> it</span></span> as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
  </div>
</div>
<div class="container">
  Body
</div>
