// Fonts
@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);
@import url(https://fonts.googleapis.com/css?family=Francois+One);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
  margin-top: 50px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.6em;
  line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Francois One', sans-serif;
  :hover {
    text-decoration: none;
  }
}

// navbar

.navbar-inverse {
  background-color: rgba(0,0,0,.75);
  border-color: rgba(0,0,0,.75);

  .navbar-brand {
    color: #fff;
    font-family: 'Pacifico', cursive;
    font-size: 2em;
  }

  .navbar-toggle {
    border: none;
  }

  .nav > li > a {
    color: #ccc;
  }

  .nav > li > a:hover, .nav > li > a:focus {
    background-color: rgba(0,0,0,.30);
    color: #fff;
  }
}


.page-header {
  margin-top: 15px;
  h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 100;
    color: #525252;
    font-size: 2em;
  }
}

#flash-messages {
  margin-bottom: 0;
  .alert {
    margin-top: 15px;
  }
}

.actions a:hover, a {
  text-decoration: none !important;
}

.jumbotron {
  background-color: rgba(0,0,0,0.20);
}

// blog index

.article {
  h2 {
    margin-bottom: 0;
    font-size: 1.6em;
    a {
      font-weight: 200;
      color: #525252;
    }
  }
}

.meta {
  font-size: 13px;
  span {
    font-style: italic;
  }
}


#footer {
  background-color: #2C3E50;
  color: #fff !important;
  margin-top: 45px;
  padding: 15px 0;
}


// button colors override

.btn {
  box-shadow: -2px -2px 0px rgba(0,0,0,0.1) inset;
  border: none;
}

.btn-info {
  background-color: #3498db;
}

.btn-default {
  background-color: #ecf0f1;
}

.btn-success {
  background-color: #1abc9c;
}

.btn-success:hover {
  background-color: #16a085;
}

// form style
.form-control {
  border: 1px solid #ddd;
  box-shadow: none;
}

textarea.form-control {
  min-height: 120px;
}

//Utilities
.center {
  text-align: center;
}


// User index
.user .gravatar {
  display: block;
}

.user p.username {
  margin-bottom: 0;
  margin-top: 15px;
  padding-bottom: 0;
  font-size: 18px;
  font-weight: bold;
}

.meta .username {
  font-family: 'Francois One', sans-serif;
}


// mobile
#mobile-menu {
  text-align: center;
}