<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>All Categories</h1>
      </div>
      <% @categories.each do |category| %>
        <div>
          <%= link_to "#{category.name}", category_path(category) %> - <small><%= pluralize(category.articles.count, "article") %></small>
        </div>
      <% end %>

      <div class="center">
        <%= will_paginate %>
      </div>
    </div>

  </div>
</div>