<div class="container">
  <div class="page-header">
    <h1>Category: <%= @category.name %></h1>
    <% if logged_in? && current_user.admin? %>
      <%= link_to 'Edit Category Name', edit_category_path(@category), :class => 'btn-xs btn-default' %>
    <% end %>
  </div>
  <div class="col-md-12">
    <%= render 'articles/article', obj: @category_articles %>
    <div class="center">
      <%= will_paginate @category_articles %>
    </div>
  </div>

</div>